
/******************************************
/* SETUP
/*******************************************/
* {
  box-sizing: border-box; 
}

/******************************************
/* BASE STYLES
/*******************************************/

a {
  text-decoration: none;
}

#container {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: black;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: auto;
}

div#main {
  background:#f0efef;
  padding-bottom: 120px;
}

header, aside#button {
  height: 100px;
}

.main-column {
  width: 640px;
  margin-left: 60px;
  margin-right: 20px;
  display: inline-block;
  float: left;
}

#sidebar {
  width: 240px;
  height: 1400px;
  display: inline-block;
  margin-bottom: 60px;
  padding-right:60px;
}

#main #column-1, #sidebar {
  margin-top: 60px;
 }

footer {
  height: 250px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* ---------- HEADER --------------
-----------------------------------
-----------------------------------*/

header {
  background:#033048;
  position: relative;
}

header div.logo {
  color: white;
  font-weight: 800;
  font-size: 36px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 60px;
}

header ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 60px;
  margin-left: 445px;
}

header ul li {
  display: inline-block;
}

header li a {
  color: #f9e42e;
  font-weight: 600;
  font-size: 24px;
  /*transition: 1s all;*/
  padding-left: 15px;
}

.hover:hover {
  color: green;
  /*font-size: 40px;*/
}


/* ---------- MAIN --------------
-----------------------------------
-----------------------------------*/
#main  section img {
  display: block;
  width: 640px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#main h1 {
  font-weight: 600;
  font-size:38px;/* intentionally different than design spec */
  color: #033048;
  line-height: 120%;
 }

#main .text {
  font-weight: 300;
  font-size: 24px;
  color: #606161;
  line-height: 130%;
 }

#main .read-more {
  font-weight: 600;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
  color: #033048
 }

#column-2 {
  margin-top: 30px;
 }

#column-1, #column-2 {
  border-bottom: 1px solid #606161;
}

.text::first-letter {
  font-weight: 600;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 10px;
  padding-right: 8px;
  padding-left: 3px;
}

  

 /* ---------- SIDE BAR --------------
-----------------------------------
-----------------------------------*/

#sidebar #ad-unit img {
  display: block;
  width: 180px;
}

#sidebar {
  color: #033048;
}

#sidebar h3 {
  font-weight: 800;
  font-size: 26px;/* intentionally different than design spec */
  letter-spacing:.1px;
}

#sidebar li {
  font-weight: 300;
  font-size: 20px;/* intentionally different than design spec */
  padding-left: 5px;
  line-height: 120%;
}

.sidebar-content {
  margin-top: 20px;
  margin-bottom: 40px;
}

.sidebar-content #about-relaxr {
  font-weight: 300;
  font-size: 18px; /* intentionally different than design spec */
  line-height: 110%;
}

.sidebar-content #learn-more {
  font-weight: 600;
  font-size: 22px;
}


/* ---------- ASIDE -BUTTON --------------
-----------------------------------
-----------------------------------*/

aside#button {
  clear: both;
  background-color: #f9e42e;
  position: relative;
}

aside#button a {
  color: white;
  background-color: #033048;
  padding: 10px 35px;
  font-weight: 800;
  font-size: 12px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* ---------- FOOTER --------------
-----------------------------------
-----------------------------------*/

footer {
  background-color: #121212;
  position: relative;
}

footer div.logo {
  font-weight: 800;
  font-size: 36px;
  color: #f9e42e;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

footer a, small {
  display: block;
}

footer img {
  width: 80%;
}
#twitter {
  float: left;
  position: absolute;
  top: 130px;
  padding-left: 435px;
}

#facebook {
  position: absolute;
  top: 130px;
  padding-left: 503px;
}

small {
  font-weight: 600;
  font-size: 9px;
  color: white;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}






