/******************************************
/* SETUP
/*******************************************/
* {
  box-sizing: border-box; 
}


/******************************************
/* BASE STYLES
/*******************************************/

a {
  text-decoration: none;
}

#benefits p, #quote p {
  line-height: 140%;
}

#container {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: black;
}

.color-white {
  color: white;
}
/******************************************
/* LAYOUT
/*******************************************/

#container {
  width: 960px;
  margin: 0 auto;
}

.top {
  height: 380px;
}

.bottom {
  height: 250px;
}

aside {
  height: 80px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/*-----------------------------------

-------------  Header ---------------

-------------------------------------*/
header {
  background-image: url(../images/header_bg.jpg);
  background-position: center;
  position: relative;
}

header h1{
  font-weight: 800;
  font-size: 24px;
  position: absolute;
  top: 5%;
  padding-left: 80px;
}

header h2 {
  font-weight: 600;
  font-size: 24px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

header a {
  font-weight: 800;
  font-size: 14px;
  background-color: #f9e42e;
  padding: 10px 35px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
 /* left: 50%;
  transform: translateX(-50%);*/
  margin-left: 405px;
}

/*-----------------------------------

-------------  Benefits -------------

-------------------------------------*/

#benefits {
  background-color: #f0efef;
  position: relative;
}

#benefits h3 {
  font-weight: 600;
  font-size: 20px;
  color:#033048;
  padding-left: 80px;
  position: absolute;
  top: 10%;
}

#benefits p, li{
  font-weight: 300;
  font-size: 13px;
  color: #606161;
}

#benefits p {
  position: absolute;
  top: 20%;
  padding-left: 85px;
} 

#benefits ul {
  padding-left: 50px;
  list-style-type: disc;
  position: absolute;
  top: 40%;
}

#benefits li {
  margin-left: 100px;
  margin-bottom: 20px;

}


/*-----------------------------------

-------------  Quote ----------------

-------------------------------------*/

#quote {
  background-image: url(../images/testimonial_bg.jpg);
  text-align: center;
  position: relative;
}

blockquote p {
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
  letter-spacing: .8px;
  color: #606161;
  quotes: "“" "”" "‘" "’"; 
}

blockquote p:before {
  content: open-quote;
}

blockquote p:after {
  content: close-quote;
}

blockquote cite {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
}

blockquote {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

blockquote cite span {
  color: #606161;
}

/*-----------------------------------

-------------  Aside  ---------------

-------------------------------------*/

aside {
  background-color: #f9e42e;
  position: relative;
}

aside a {
  background-color: #033048;
  padding: 10px 35px;
  font-weight: 800;
  font-size: 12px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /*left: 50%;
  transform: translateX(-50%);*/
  margin-left: 405px;
}

/*-----------------------------------

-------------  Footer ---------------

-------------------------------------*/

footer {
  background-color: #121212;
  position: relative;
}

footer h4 {
  font-weight: 800;
  font-size: 24px;
  color: #f9e42e;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

footer .colorwhite {
  font-weight: 600;
  font-size: 9px;
}

footer a, small {
  display: block;
}

#twitter {
  float: left;
  position: absolute;
  top: 106px;
  padding-left: 430px;
}

#facebook {
  position: absolute;
  top: 106px;
  padding-left: 503px;
}

small {
  clear: both;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}



